@import './_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap');

body {
  height: 100vh;
  display: flex;
}

.opening {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: 
    transparent 
    linear-gradient(180deg, #525252 0%, #001F1D 100%) 0% 0% 
    no-repeat 
    padding-box;

  &-logo {
    position: absolute;
    animation: opening 1.8s infinite;
    top: 45%;
    left: 50%;
    width: 650px;
    height: 300px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

/* The animation code */
@keyframes opening {
  0% {
    opacity: 1; 
    transform: translate(-50%, -40%) scale(1);
  }
  50% {
    opacity: 0.5; 
    transform: translate(-50%, -40%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

.game-operation-popup {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(112, 112, 112, 1);

  .game-operation-container {
    width: 700px;
    height: 400px;
    padding: 50px 116px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border: 1px solid #707070;
    border-radius: 20px;
    text-align: center;

    img {
      margin-bottom: 10px;
    }

    .warning-message {
      color:#4B4B4B;
      font-size: 24px;
      margin-bottom: 35px;
      font-weight: bold;
    }

    button {
      margin-bottom: 30px;
      padding: 10px 30px;
      border: none;
      color: #ffffff;
      font-size: 24px;
      border-radius: 25px;
      background: #3F869B;
    }

    .back-game {
      font-size: 20px;
      color:#3F869B;
    }
  }
}

.main-container {
  min-width: calc(100% - 105px);
  width: 90%;
  background: 
    transparent 
    linear-gradient(180deg, #525252 0%, #001F1D 100%) 0% 0% 
    no-repeat 
    padding-box;
}

.sidebar {
  width: 10%;
  min-width: 105px;
  text-align: center;
  background: #001F1D;
  padding-top: 120px;

  div {
    cursor: pointer;
  }

  div:not(.new-game) {
    margin-top: 50px;
  }
}