@import './_reset.scss';

body {
  width: 100%;
  height: 100vh;
  background: 
    transparent 
    linear-gradient(180deg, #525252 0%, #001F1D 100%) 0% 0% 
    no-repeat 
    padding-box;
}

.opening {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: 
    transparent 
    linear-gradient(180deg, #525252 0%, #001F1D 100%) 0% 0% 
    no-repeat 
    padding-box;

  &-logo {
    position: absolute;
    animation: opening 1.8s infinite;
    top: 45%;
    left: 50%;
    width: 650px;
    height: 300px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

/* The animation code */
@keyframes opening {
  0% {
    opacity: 1; 
    transform: translate(-50%, -40%) scale(1);
  }
  50% {
    opacity: 0.5; 
    transform: translate(-50%, -40%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}
